body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  align-content: center;
  background-color: #37517e;
  margin: auto;
}
form {
  border-radius: 10px;
  width: 600px;
  margin: 0 auto;
  position: relative;
  left: 0px;
  right: 0px;
  border-radius: 10px;
  border-color: transparent;
  box-shadow: black 2px 2px 4px;
  align-self: center;
  text-align: left;
  background-color: #37517e; 
  border-width: 1px;
  padding: 40px;
  border-style: solid;
}
p {
  color: aqua;
}
input {
  padding: 10px;
  width: 300px;
  background-color: white;
}
#emailHelp {
  color: #47b2e4;
}
label {
  color: white;
}
.navbar {
  background-color: purple;
}
.text1 {
  position: relative;
  text-align:center;
  font-size: 24px;
}
.text2 {
  color: #47b2e4;
}
button {
  margin-top: 30px
}